.form {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 10px;
  margin: 5px;

  &__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
    box-sizing: border-box;
  }

  &__header {
    display: flex;
    flex: 0 0 20%;
    flex-direction: column;
    gap: 10px;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
  }

  &__title {
    margin: 0;
    padding: 0;
    text-align: center;
    box-sizing: border-box;
    font-size: 18px;
    font-weight: 700;

    @media (max-width: 960px) {
      font-size: 14px;
    }
    @media (max-width: 580px) {
      font-size: 12px;
    }
  }

  &__tool {
    display: flex;
    flex-direction: column;
    gap: 5px;
    border: 1px solid gray;
    border-radius: 10px;
    align-items: center;
    justify-content: center;
    padding: 10px;
    box-sizing: border-box;
  }

  &__body {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 10px;
    box-sizing: border-box;
  }

  &__group {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 15px;
    box-sizing: border-box;
  }

  &__select {
    padding: 5px;
  }
  &__option {
  }

  &__row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    gap: 10px;
    width: 100%;
    box-sizing: border-box;
  }
  &__column {
    display: flex;
    flex-direction: column;
    gap: 10px;
    box-sizing: border-box;
  }
  &__input {
    padding: 5px;
    box-sizing: border-box;
  }
  &__textbox {
    padding: 15px;
    box-sizing: border-box;
  }

  &__button {
    min-width: 50px;
    font-size: 12px;
    font-weight: 900;
    color: black;
    padding: 5px;
    display: inline-block;
    float: right;
    text-decoration: none;
    width: auto;
    height: auto;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    background: rgb(138, 233, 255);
    background: radial-gradient(
      circle,
      rgba(138, 233, 255, 1) 4%,
      rgba(0, 94, 217, 1) 78%,
      rgba(0, 66, 213, 1) 92%
    );
    -webkit-box-shadow: 0 3px rgba(58, 87, 175, 0.75);
    -moz-box-shadow: 0 3px rgba(58, 87, 175, 0.75);
    box-shadow: 0 3px rgba(58, 87, 175, 0.75);
    transition: all 0.1s linear 0s;
    top: 0px;
    position: relative;

    &:hover {
      top: 3px;
      background-color: #2e458b;
      -webkit-box-shadow: none;
      -moz-box-shadow: none;
      box-shadow: none;
    }

    @media (max-width: 960px) {
      padding: 5px;
      font-size: 10px;
    }
    @media (max-width: 580px) {
      padding: 3px;
      font-size: 6px;
    }
  }

  &__invalid {
    color: red;
    font-size: 14px;
    font-weight: 700;
    text-decoration: underline;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 100%;
    box-sizing: border-box;
  }
}
