.header {
  display: grid;
  grid-template-columns:
    minmax(auto, 1fr)
    minmax(auto, 6fr)
    minmax(auto, 1fr);
  justify-content: space-between;
  padding: 10px 20px;
  background-color: #050522;
  box-sizing: border-box;
  padding: 5px 15px;
  margin: 0px;
  font-family: 'Segoe UI';
  font-style: normal;

  @media (max-width: 960px) {
    padding: 8px 15px;
  }
  @media (max-width: 580px) {
    padding: 5px 10px;
  }

  &__title {
    font-size: 20px;
    font-weight: 700;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    text-align: center;
    box-sizing: border-box;
    color: $primary-light;
    @media (max-width: 960px) {
      font-size: 16px;
    }
    @media (max-width: 580px) {
      font-size: 14px;
    }
    @media (max-width: 440px) {
      font-size: 12px;
    }
  }
  &__logo {
    display: flex;
    justify-content: center;
    align-items: center;
    &--icon {
      width: 100px;
      height: 100px;
      @media (max-width: 400px) {
        width: 75px;
        height: 75px;
      }
    }
  }

  &__navigation {
    display: flex;
    flex-direction: row;
    gap: 35px;
    width: auto;
    text-align: center;
    justify-content: center;
    box-sizing: border-box;
    border-radius: 20px;

    /* box-shadow: 2px 0px 0px 0px $secondary-light,
      inset 2px 0px 0px 0px $secondary-light; */

    @media (max-width: 960px) {
      gap: 15px;
    }

    @media (max-width: 580px) {
      gap: 15px;
    }
  }

  &__link {
    display: flex;
    flex-direction: row;
    text-align: center;
    align-items: center;
    justify-content: center;
    padding: 3px;
    text-decoration: none;
    box-sizing: border-box;
    font-size: 18px;
    color: $primary-light;
    font-weight: 700;

    &:hover {
      text-decoration: underline;
      color: $secondary-light;
    }
  }
}
