.tab {
  &__navigation {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
    box-sizing: border-box;
    width: 100%;
    height: 100%;
  }

  &__navigation-item {
    height: 100%;
    padding: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    box-sizing: border-box;
  }

  &__selected {
    border: 2px solid orangered;
    background-color: orangered;
    border-radius: 25px;
    box-sizing: border-box;
  }
}
