.tab {
  &__navigation {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 30px;
    box-sizing: border-box;
  }

  &__navigation-item {
    padding: 5px;
  }

  &__selected {
    color: red;
    text-decoration: underline;
  }
}
