@import "_var.scss";
.tab {
  &__navigation {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
    box-sizing: border-box;
    width: auto;
    height: 100%;
    border-radius: 20px;
    color: $primary-dark;
    @media (max-width: 500px) {
      gap: 15px;
    }
  }

  &__navigation-item {
    font-size: 14px;
    height: 100%;
    padding: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    box-sizing: border-box;
    max-width: 125px;
    color: $primary-dark;

    @media (max-width: 960px) {
      padding: 12px;
      max-width: 100px;
    }
    @media (max-width: 580px) {
      padding: 10px;
      font-size: 10px;
      max-width: 75px;
    }
  }

  &__selected {
    color: $secondary-light;
    background-color: $primary-dark;

    border-radius: 20px;
    box-sizing: border-box;
  }
}
