.table {
  display: flex;
  flex-direction: column;
  gap: 5px;
  box-sizing: content-box;
  width: 100%;
  height: 100%;

  //Скрытие скроллбара
  overflow-y: auto;
  overflow-x: hidden;
  -ms-overflow-style: none; /* IE и Edge */
  scrollbar-width: none; /* Firefox */

  &::-webkit-scrollbar {
    width: 0px;
    display: none;
  }

  @media (max-width: 960px) {
    gap: 3px;
  }

  &__row {
    display: grid;
    gap: 5px;
    justify-content: center;
    align-items: center;
    height: auto;
    box-sizing: border-box;

    &--personal-charged {
      grid-template-columns:
        minmax(80px, 80px)
        minmax(90px, 1fr)
        minmax(90px, 3fr)
        minmax(110px, 110px);

      @media (max-width: 800px) {
        grid-template-columns:
          minmax(60px, 60px)
          minmax(80px, 1fr)
          minmax(90px, 3fr)
          minmax(110px, 110px);
        gap: 3px;
      }
      @media (max-width: 600px) {
        grid-template-columns:
          minmax(50px, 50px)
          minmax(70px, 1fr)
          minmax(80px, 3fr)
          minmax(110px, 110px);
        gap: 2px;
      }
    }
    &--alltask {
      grid-template-columns:
        minmax(80px, 80px)
        minmax(90px, 1fr)
        minmax(90px, 1fr)
        minmax(90px, 3fr)
        minmax(110px, 110px);

      @media (max-width: 800px) {
        grid-template-columns:
          minmax(60px, 60px)
          minmax(80px, 1fr)
          minmax(80px, 1fr)
          minmax(90px, 3fr)
          minmax(110px, 110px);
        gap: 3px;
      }
      @media (max-width: 600px) {
        grid-template-columns:
          minmax(50px, 50px)
          minmax(70px, 1fr)
          minmax(70px, 1fr)
          minmax(80px, 3fr)
          minmax(110px, 110px);
        gap: 2px;
      }
    }

    &--userlist {
      grid-template-columns:
        minmax(80px, 1fr)
        minmax(40px, 40px)
        minmax(100px, 1fr)
        minmax(70px, 1fr)
        minmax(100px, 1fr);
    }

    &:last-child {
      margin-bottom: 20px;
    }
  }

  &__column {
    border: 1px solid black;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    text-align: center;
    min-height: 100%;
    gap: 5px;
    box-sizing: border-box;
    padding: 5px;
    word-wrap: break-word;
    height: 50px;

    @media (max-width: 800px) {
      font-size: 12px;
      padding: 3px;
      gap: 3px;
    }
    @media (max-width: 600px) {
      font-size: 10px;
      padding: 1px;
      gap: 1px;
    }

    &:first-child {
      border-top-left-radius: 20px;
      border-bottom-left-radius: 20px;
    }

    &:last-child {
      border-top-right-radius: 25px;
      border-bottom-right-radius: 25px;
    }
  }
}
