.p-tooltip-text {
  padding: 10px !important ;
  text-align: center !important;
  border-radius: 15px !important;
  font-size: 10px;
}

/* .p-tooltip-right .p-tooltip-arrow {
  border-right-color: blue !important;
}
.p-tooltip-left .p-tooltip-arrow {
  border-left-color: blue !important;
}
.p-tooltip-bottom .p-tooltip-arrow {
  border-bottom-color: blue !important;
} */

/* /// RED TOOLTIP-right
.tooltip--alert--right .p-tooltip-text {
  padding: 10px !important ;
  text-align: center !important;
  background-color: red !important;
}

.tooltip--alert--right.p-tooltip-right .p-tooltip-arrow {
  border-right-color: red !important;
}
 */
