@import '_var.scss';
.v-select {
  min-width: 250px;
}

.vs__dropdown-menu {
  background-color: $primary-light !important;
}

.vs__dropdown-option {
  &--highlight {
    background-color: $secondary-light !important;
  }
}
